body {
    position: absolute;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid pink; */
}

header {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    height: 10%;
    background-color: white;
    box-shadow: 1px 1px 1px 0 #b6b6b65a, 0 1px 1px 0 rgba(155, 155, 155, 0.337);
    padding-left: 30px;
}

ul.nav_menu {
    list-style-type: none;
    /* border: 2px solid peru; */
    display: inline-block;
}

ul.nav_menu li {
    display: inline-block;
    font-weight: 500;
    font-size: 15pt;
    margin-right: 15px;
}

.nav_menu a:active {
    color: green;
}

img#logo {
    vertical-align: middle;
    display: inline-block;
}                               /* header 끝 */

nav {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin: 30px auto;
    /* border: 1px solid salmon; */
}

ul.order_progress li {
    /* display: inline-block; */
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    min-width: 80px;
    background-color: green;
    color:white;
    border: 1px solid lightgrey;
    margin: 0;
    text-align: center;
}

ul.order_progress {
    display: table;
    margin: 0 auto;
    /* justify-content: center; */
    padding-inline-start: 0px;
}
/* 
section {
    margin: 30px auto;
    width: 100%;
    height: auto;
    padding-bottom: 5rem;
} */

div.card {
    /* display: flex;
    align-items: row; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    max-height: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 2%;
}      

@media (max-width:960px) {
    #payment_detail {
        min-width: 50vw;
        max-width: 50vw;
        min-height: 40vh;
        overflow: inherit;
    }

    #payment_detail > form {
        /* min-width: 40vw;
        max-width: 40vw; */
        flex: 1;
    }
    
    #payment_detail_left > img {
        max-width: 20vw;
        max-height: 14vh;
    }

    #card_option :first-child {
        display: block;
        border: 1px solid salmon;
    }
}

form {
    border: 1px solid brown;
}

input[type=text] {
    width: 150px;
    display: inline-block;
}

label {
    display: inline-block;
    width: 70px;
    /* border: 1px solid black; */
}

#card_option label {
    display: inline;
}

#card_option :first-child {
    margin-right: 15px;
}

p {
    display: block;
    text-align: end;
    top: 0px;
    right: 0px;
    margin: 0;
}

p > button {
    font-size: 2rem;
    background-color: transparent;  
    border: none;
}

#payment_container {
    border: 3px solid red;
    margin: 30px auto;
    width: 100%;
    height: auto;
    padding: 3rem 0;
}

#payment_detail {
    width: 700px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 3px solid yellowgreen;
}

#payment_detail_left {
    /* display: flex;
    flex-direction: column; */
    border: 3px solid purple;
}

h3#final_price {
    margin-top: 0px;
}

/* section 끝 */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50px;
    font-size: 17px;
}

hr {
    max-width: 50%; 
}

h2#total_price {
    margin-right: 25vw;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 50px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 50px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

footer {
    position: absolute;
    height: 5rem;
    bottom: 0;
    width: 100vw;
    background-color: rgb(46, 46, 46);
}
