body {
    position: relative;
    min-height: 100vh;
    height: auto;
    width: 100%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid pink;
}

header {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    height: 10%;
    background-color: white;
    box-shadow: 1px 1px 1px 0 #b6b6b65a, 0 1px 1px 0 rgba(155, 155, 155, 0.337);
    padding-left: 30px;
}

ul.nav_menu {
    list-style-type: none;
    /* border: 2px solid peru; */
    display: inline-block;
}

li {
    display: inline-block;
    font-weight: 500;
    font-size: 15pt;
    margin-right: 15px;
}

.nav_menu a:active {
    color: green;
}

img#logo {
    vertical-align: middle;
    display: inline-block;
}                               /* header 끝 */

ul.order_progress li {
    display: inline-block;
    height: 50px;
    width: 100px;
    background-color: green;
    color:white;
    border: 1px solid lightgrey;
    margin: 0;
    text-align: center;
}

.order_progress {
    display: flex;
    justify-content: center;
}

section {
    margin: 30px auto;
    width: 100%;
    height: auto;
    padding-bottom: 5rem;
}

div.card_detail_conatiner {
    display: flex;
    align-items: row;
}

div.card {
    /* display: flex;
    align-items: row; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 50px auto;
    padding: 60px;
    border-radius: 2%;
}       

div.card > img {
    flex: 1;
    width: 200px;
    height: 220px;
}

div#card_text {
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 50px;
    /* border: 1px solid pink; */
}

div.card ul {
    /* border: 1px solid purple; */
    text-align: start;
}

div.card li {
    display: block;
}

div.card label {
    display: inline-block;
    width: 70px;
    font-size: 1rem;
    border: 1px solid red;
}

input, select{
    width: 60px;
    box-sizing:border-box;
}

span.price {
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    /* border: 1px solid red; */
}

/* section 끝 */


footer {
    position: absolute;
    height: 5rem;
    bottom: 0;
    width: 100%;
    background-color: rgb(46, 46, 46);
}
